<section class="justify">
  <h2>Suivez &#64;CelesteEtJules sur vos réseaux préférés</h2>
  <div class="card-container">
    <a class="social-card" href="https://www.instagram.com/celeste_et_jules/">
      <img class="black-image" src="./assets/img/logos/instagram.svg" />
      <div class="social-title">Instagram</div>
    </a>
    <a class="social-card" href="https://www.youtube.com/@CelesteEtJules">
      <img class="black-image" src="./assets/img/logos/youtube.svg" />
      <div class="social-title">Youtube</div>
    </a>
    <a class="social-card" href="https://www.tiktok.com/@celeste_et_jules">
      <img class="black-image" src="./assets/img/logos/tiktok.svg" />
      <div class="social-title">Tiktok</div>
    </a>
    <a class="social-card" href="https://www.facebook.com/people/C%C3%A9leste-Jules/100067397915194/">
      <img class="black-image" src="./assets/img/logos/facebook.svg" />
      <div class="social-title">Facebook</div>
    </a>
  </div>
</section>
