<section class="justify">
  <h2>Le Projet</h2>
  <h3>Cycle "Céleste Et Jules : Des Étoiles Plein Les Yeux"</h3>
  <div *ngFor="let dashboard of projects">
    <app-dashboard [dashboard]="dashboard" />
  </div>

  <h3>Auteurs</h3>
  <div class="card-container">
    <img style="transform: rotate(-10deg)" src="./assets/img/cards/Maryline-card.webp" width="256"
         alt="Bio : Maryline, Illustratice" />
    <img style="transform: rotate(13deg)" src="./assets/img/cards/Marc-card.webp" width="256"
         alt="Bio : Marc Gardent, Scénariste" />
  </div>
</section>
