<h4>Les Toits de Paris : Une Rencontre En Cache Une Autre</h4>
<img style="width: 30%;display: inline-block" alt="Couverture Celeste et Jules : les toits de Paris"  src="assets/img/items/celeste_et_jules-les_toits_de_paris-e1s1.webp" />
<div style="width: 60%;display: inline-block;vertical-align:top;padding: 0.5em">
  <div>
    <span  class="bulle"><b>Statut</b> : édition en accès anticipé disponible !</span>
    <div class="progressbar-wrapper">Scénographie 100%<div style="width: 100%" class="progressbar" ></div></div>
    <div class="progressbar-wrapper">Storyboard 100%<div style="width: 100%" class="progressbar"></div></div>
    <div class="progressbar-wrapper">Crayonné 100%<div style="width: 100%" class="progressbar"></div></div>
    <div class="progressbar-wrapper">Encrage 100%<div style="width: 100%" class="progressbar"></div></div>
    <div class="progressbar-wrapper">Couleur 100%<div style="width: 100%" class="progressbar"></div></div>
    <div class="progressbar-wrapper">Relectures 100%<div style="width: 100%" class="progressbar"></div></div>
  </div>
</div>
