<h4>{{dashboard.title}}</h4>
<img style="width: 30%;display: inline-block" alt="{{dashboard.title}}"  src="{{dashboard.cover}}" />
<div style="width: 60%;display: inline-block;vertical-align:top;padding: 0.5em">
  <div>
    <span  class="bulle"><b>Statut</b> : {{dashboard.status}}</span>
    <div *ngFor="let item of dashboard.details">
        <div class="progressbar-wrapper">
          <div>{{item.name}} {{ item.progress }}</div>
          <div [ngStyle]="{'width': item.progress}" class="progressbar" ></div>
        </div>
    </div>
  </div>
</div>
