<header class="dark edge" style="overflow:hidden">
  <div class="cover"></div>
  <img  src="assets/img/Logo_celeste_et_jules.webp" width="128" alt="Logo Céleste & Jules" />
</header>
<main>
  <app-socialnetwork />
<section class="justify">
  <h2>La BD en boutique !</h2>
  <p style="text-align: center">
    <a href="https://ludopant.sumupstore.com/article/celeste-et-jules-les-toits-de-paris-une-rencontre-en-cache-une-autres" >
      <img style="width: 60%" alt="Couverture Celeste et Jules : les toits de Paris"  src="assets/img/items/celeste_et_jules-les_toits_de_paris-e1s1.webp" />
    </a>
  </p>
</section>

<section class="justify">
  <h2>Retrouvez nos Heros!</h2>
  <div class="card-container">
    <img style="transform: rotate(-8deg)" src="assets/img/cards/Celeste-card.webp" width="256"
         alt="Bio Céleste : aime les sports extrêmes, en particulier l'acrobatie sur les toits de Paris" />
    <img style="transform: rotate(5deg)" src="assets/img/cards/Shallow-card.webp" width="256"
         alt="Bio Jules : se passionne pour la construction d'objets et adore lever les yeux au ciel pour observer les astres!" />
    <img style="transform: rotate(11deg)" src="assets/img/cards/Jules-card.webp" width="256"
         alt="Bio Jules : se passionne pour la construction d'objets et adore lever les yeux au ciel pour observer les astres!" />
  </div>
</section>

<app-projects [projects]="projects"/>

</main>
<footer class="dark edge" style="margin-top: 3em">
  <a href="https://github.com/marcgardent/ludopant.website/issues">contact</a>
</footer>

<router-outlet />
