
/* layout */

body {
    margin: auto;
    padding: 0;
    
}

.justify {
    margin: auto;
    padding: 0.5em;
    max-width: 800px;
}



p {
    text-align: justify;
}

h2 {
    
    
}

h3 {
    
}

header {
    width: 100%;
    text-align: center;
}

footer {
    min-height: 256px;
    text-align: center;
    padding: 1em;
    
}

.card-container {
    padding-left: 3em;
    text-align: center;
    
    text-align: center;
}

a.social-card {
    display: inline-block;
    width: 6em;
}


a.social-card:hover {
    transform: scale(1.1); 
}

.social-title {
    display: none;
}

.shallow-artwork {
    background-image: url(img/artworks/Shallow_artwork.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    width: 15em;
    height: 15em;
}

.display-inline-block {
    display: inline-block;
}


.float-clear::after {
    content: "";
    display: block;
    clear: both;
  }


.float-right {
    float: right
}

.float-left {
    float: left
}

img {
    border: 1px solid red;
}